.frame11335017-container {
  min-height: 100vh;
}
.frame11335017-frame11335017 {
  width: 1364px;
  height: 2555px;
  display: flex;
  overflow: hidden;
  position: relative;
  max-width: 1364px;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.frame11335017-about336243 {
  top: 0px;
  left: 0px;
  width: 1364px;
  height: 2555px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  background-color: rgba(248, 244, 249, 1);
}
.frame11335017-whatoffers336291 {
  top: 1262px;
  left: 103px;
  width: 1159px;
  height: 885px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.frame11335017-text {
  top: 0px;
  left: 95px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 48px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Poppins;
  font-weight: 700;
  line-height: 177.90000438690186%;
  font-stretch: normal;
  text-decoration: none;
}
.frame11335017-group1968336488 {
  top: 286px;
  left: 0px;
  width: 1159px;
  height: 599px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.frame11335017-group78336293 {
  top: 0px;
  left: 0px;
  width: 1159px;
  height: 244px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.frame11335017-group73336294 {
  top: 0px;
  left: 0px;
  width: 283px;
  height: 244px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.frame11335017-image {
  top: 0px;
  left: 84px;
  width: 91px;
  height: 90px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  border-radius: 20px;
  background-color: rgba(255, 242, 242, 1);
}
.frame11335017-text01 {
  top: 129px;
  left: 22px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 25px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Poppins;
  font-weight: 600;
  line-height: 177.90000438690186%;
  font-stretch: normal;
  text-decoration: none;
}
.frame11335017-text02 {
  top: 188px;
  left: 0px;
  color: rgba(121, 121, 121, 1);
  width: 283px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Poppins;
  font-weight: 400px;
  line-height: 177.90000438690186%;
  font-stretch: normal;
  text-decoration: none;
}
.frame11335017-apps1336298 {
  top: 25px;
  left: 109px;
  width: 41px;
  height: 41px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
}
.frame11335017-group336299 {
  top: 0px;
  left: 0px;
  width: 41px;
  height: 41px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.frame11335017-group336300 {
  top: 0px;
  left: 0px;
  width: 41px;
  height: 41px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.frame11335017-image01 {
  top: 0px;
  left: 0px;
  width: 41px;
  height: 41px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.frame11335017-group74336307 {
  top: 0px;
  left: 292px;
  width: 283px;
  height: 244px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.frame11335017-image02 {
  top: 0px;
  left: 84px;
  width: 91px;
  height: 90px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  border-radius: 20px;
  background-color: rgba(252, 251, 218, 1);
}
.frame11335017-text03 {
  top: 129px;
  left: 12px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 25px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Poppins;
  font-weight: 600;
  line-height: 177.90000438690186%;
  font-stretch: normal;
  text-decoration: none;
}
.frame11335017-text04 {
  top: 188px;
  left: 0px;
  color: rgba(121, 121, 121, 1);
  width: 283px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Poppins;
  font-weight: 400px;
  line-height: 177.90000438690186%;
  font-stretch: normal;
  text-decoration: none;
}
.frame11335017-console1336311 {
  top: 24px;
  left: 108px;
  width: 42px;
  height: 42px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
}
.frame11335017-group336312 {
  top: 7.20751953125px;
  left: 0px;
  width: 42px;
  height: 27.58526611328125px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.frame11335017-image03 {
  top: 0px;
  left: 0px;
  width: 42px;
  height: 28px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.frame11335017-group336315 {
  top: 12.421828269958496px;
  left: 5.410830974578857px;
  width: 12px;
  height: 11.613444328308105px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.frame11335017-image04 {
  top: 0px;
  left: 0px;
  width: 12px;
  height: 12px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.frame11335017-group336318 {
  top: 12.68359375px;
  left: 28.271484375px;
  width: 4px;
  height: 3.661897659301758px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.frame11335017-image05 {
  top: 0px;
  left: 0px;
  width: 4px;
  height: 4px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.frame11335017-group336321 {
  top: 20.111820220947266px;
  left: 28.271547317504883px;
  width: 4px;
  height: 3.661897659301758px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.frame11335017-image06 {
  top: 0px;
  left: 0px;
  width: 4px;
  height: 4px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.frame11335017-group336324 {
  top: 16.3974609375px;
  left: 24.557373046875px;
  width: 4px;
  height: 3.661895751953125px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.frame11335017-image07 {
  top: 0px;
  left: 0px;
  width: 4px;
  height: 4px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.frame11335017-group336327 {
  top: 16.3974609375px;
  left: 31.98583984375px;
  width: 4px;
  height: 3.661895751953125px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.frame11335017-image08 {
  top: 0px;
  left: 0px;
  width: 4px;
  height: 4px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.frame11335017-group75336330 {
  top: 0px;
  left: 584px;
  width: 283px;
  height: 244px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.frame11335017-image09 {
  top: 0px;
  left: 84px;
  width: 91px;
  height: 90px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  border-radius: 20px;
  background-color: rgba(226, 242, 255, 1);
}
.frame11335017-text05 {
  top: 129px;
  left: 105px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 25px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Poppins;
  font-weight: 600;
  line-height: 177.90000438690186%;
  font-stretch: normal;
  text-decoration: none;
}
.frame11335017-text06 {
  top: 188px;
  left: 0px;
  color: rgba(121, 121, 121, 1);
  width: 283px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Poppins;
  font-weight: 400px;
  line-height: 177.90000438690186%;
  font-stretch: normal;
  text-decoration: none;
}
.frame11335017-startup1336334 {
  top: 24px;
  left: 109px;
  width: 41px;
  height: 41px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
}
.frame11335017-group336335 {
  top: 19.25244140625px;
  left: 20.146484375px;
  width: 2px;
  height: 1.6013507843017578px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.frame11335017-image10 {
  top: 0px;
  left: 0px;
  width: 2px;
  height: 2px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.frame11335017-group336338 {
  top: 8.121166229248047px;
  left: 24.872486114501953px;
  width: 8px;
  height: 8.006546020507812px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.frame11335017-image11 {
  top: 0px;
  left: 0px;
  width: 8px;
  height: 8px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.frame11335017-group336341 {
  top: -0.000039113074308261275px;
  left: 7.688905239105225px;
  width: 33px;
  height: 33.3109245300293px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.frame11335017-image12 {
  top: 0px;
  left: 0px;
  width: 33px;
  height: 33px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.frame11335017-group336344 {
  top: 32.841796875px;
  left: 15.616943359375px;
  width: 4px;
  height: 3.8669281005859375px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.frame11335017-image13 {
  top: 0px;
  left: 0px;
  width: 4px;
  height: 4px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.frame11335017-group336347 {
  top: 21.517047882080078px;
  left: 4.291561126708984px;
  width: 4px;
  height: 3.8661231994628906px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.frame11335017-image14 {
  top: 0px;
  left: 0px;
  width: 4px;
  height: 4px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.frame11335017-group336350 {
  top: 33.974609375px;
  left: 6.794677734375px;
  width: 7px;
  height: 7.025199890136719px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.frame11335017-image15 {
  top: 0px;
  left: 0px;
  width: 7px;
  height: 7px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.frame11335017-group336353 {
  top: 33.974609375px;
  left: 0.388427734375px;
  width: 7px;
  height: 7.025199890136719px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.frame11335017-image16 {
  top: 0px;
  left: 0px;
  width: 7px;
  height: 7px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.frame11335017-group336356 {
  top: 27.17919921875px;
  left: 0px;
  width: 7px;
  height: 7.026065826416016px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.frame11335017-image17 {
  top: 0px;
  left: 0px;
  width: 7px;
  height: 7px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.frame11335017-group336359 {
  top: 15.8544921875px;
  left: 22.41162109375px;
  width: 3px;
  height: 2.733901023864746px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.frame11335017-image18 {
  top: 0px;
  left: 0px;
  width: 3px;
  height: 3px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.frame11335017-group76336362 {
  top: 0px;
  left: 876px;
  width: 283px;
  height: 244px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.frame11335017-image19 {
  top: 0px;
  left: 96px;
  width: 91px;
  height: 90px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  border-radius: 20px;
  background-color: rgba(255, 230, 251, 1);
}
.frame11335017-text12 {
  top: 129px;
  left: 9px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 25px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Poppins;
  font-weight: 600;
  line-height: 177.90000438690186%;
  font-stretch: normal;
  text-decoration: none;
}
.frame11335017-text13 {
  top: 188px;
  left: 0px;
  color: rgba(121, 121, 121, 1);
  width: 283px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Poppins;
  font-weight: 400px;
  line-height: 177.90000438690186%;
  font-stretch: normal;
  text-decoration: none;
}
.frame11335017-image20 {
  top: 24px;
  left: 108px;
  width: 43px;
  height: 43px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.frame11335017-group77336369 {
  top: 355px;
  left: 0px;
  width: 1159px;
  height: 244px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.frame11335017-group72336370 {
  top: 0px;
  left: 0px;
  width: 283px;
  height: 244px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.frame11335017-image21 {
  top: 0px;
  left: 84px;
  width: 91px;
  height: 90px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  border-radius: 20px;
  background-color: rgba(246, 238, 231, 1);
}
.frame11335017-text14 {
  top: 129px;
  left: 25px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 25px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Poppins;
  font-weight: 600;
  line-height: 177.90000438690186%;
  font-stretch: normal;
  text-decoration: none;
}
.frame11335017-image22 {
  top: 26px;
  left: 110px;
  width: 38px;
  height: 38px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.frame11335017-text15 {
  top: 188px;
  left: 0px;
  color: rgba(121, 121, 121, 1);
  width: 283px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Poppins;
  font-weight: 400px;
  line-height: 177.90000438690186%;
  font-stretch: normal;
  text-decoration: none;
}
.frame11335017-group71336376 {
  top: 0px;
  left: 292px;
  width: 283px;
  height: 244px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.frame11335017-image23 {
  top: 0px;
  left: 84px;
  width: 91px;
  height: 90px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  border-radius: 20px;
  background-color: rgba(241, 241, 241, 1);
}
.frame11335017-text16 {
  top: 129px;
  left: 44px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 25px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Poppins;
  font-weight: 600;
  line-height: 177.90000438690186%;
  font-stretch: normal;
  text-decoration: none;
}
.frame11335017-cybersecurity1336379 {
  top: 26px;
  left: 110px;
  width: 38px;
  height: 38px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
}
.frame11335017-image24 {
  top: 2.852017879486084px;
  left: -0.028241952881217003px;
  width: 38px;
  height: 32px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.frame11335017-text17 {
  top: 188px;
  left: 0px;
  color: rgba(121, 121, 121, 1);
  width: 283px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Poppins;
  font-weight: 400px;
  line-height: 177.90000438690186%;
  font-stretch: normal;
  text-decoration: none;
}
.frame11335017-group70336384 {
  top: 0px;
  left: 584px;
  width: 283px;
  height: 244px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.frame11335017-image25 {
  top: 0px;
  left: 84px;
  width: 91px;
  height: 90px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  border-radius: 20px;
  background-color: rgba(240, 231, 255, 1);
}
.frame11335017-text18 {
  top: 129px;
  left: 9px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 25px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Poppins;
  font-weight: 600;
  line-height: 177.90000438690186%;
  font-stretch: normal;
  text-decoration: none;
}
.frame11335017-text19 {
  top: 188px;
  left: 0px;
  color: rgba(121, 121, 121, 1);
  width: 283px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Poppins;
  font-weight: 400px;
  line-height: 177.90000438690186%;
  font-stretch: normal;
  text-decoration: none;
}
.frame11335017-coding1336388 {
  top: 25px;
  left: 109px;
  width: 41px;
  height: 41px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
}
.frame11335017-image26 {
  top: 0.640625px;
  left: 9.609375px;
  width: 22px;
  height: 40px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.frame11335017-group69336396 {
  top: 0px;
  left: 876px;
  width: 283px;
  height: 244px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.frame11335017-image27 {
  top: 0px;
  left: 96px;
  width: 91px;
  height: 90px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  border-radius: 20px;
  background-color: rgba(226, 255, 241, 1);
}
.frame11335017-text20 {
  top: 129px;
  left: 32px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 25px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Poppins;
  font-weight: 600;
  line-height: 177.90000438690186%;
  font-stretch: normal;
  text-decoration: none;
}
.frame11335017-text21 {
  top: 188px;
  left: 0px;
  color: rgba(121, 121, 121, 1);
  width: 283px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Poppins;
  font-weight: 400px;
  line-height: 177.90000438690186%;
  font-stretch: normal;
  text-decoration: none;
}
.frame11335017-image28 {
  top: 25px;
  left: 109px;
  width: 40px;
  height: 40px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.frame11335017-text22 {
  top: 106px;
  left: 124px;
  color: rgba(25, 25, 25, 1);
  width: 911px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Poppins;
  font-weight: 400px;
  line-height: 35px;
  font-stretch: normal;
  text-decoration: none;
}
.frame11335017-whoweare336408 {
  top: 145px;
  left: 70px;
  width: 1309px;
  height: 646.0001831054688px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.frame11335017-whoweare336409 {
  top: 0px;
  left: 0px;
  width: 1309px;
  height: 646.0001831054688px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.frame11335017-group99336410 {
  top: 156.0000762939453px;
  left: 0px;
  width: 679px;
  height: 445px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.frame11335017-text23 {
  top: 0px;
  left: 0px;
  color: rgba(25, 25, 25, 1);
  height: auto;
  position: absolute;
  font-size: 48px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Poppins;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame11335017-text24 {
  color: rgba(25, 25, 25, 1);
  height: auto;
  align-self: auto;
  text-align: left;
  font-stretch: normal;
  text-decoration: none;
}
.frame11335017-text25 {
  color: rgba(250, 195, 42, 1);
  height: auto;
  align-self: auto;
  text-align: left;
  font-stretch: normal;
  text-decoration: none;
}
.frame11335017-text26 {
  top: 104px;
  left: 0px;
  color: rgba(25, 25, 25, 1);
  width: 679px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 400px;
  line-height: 35px;
  font-stretch: normal;
  text-decoration: none;
}
.frame11335017-group100336413 {
  top: 0px;
  left: 699px;
  width: 610px;
  height: 616.4716186523438px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.frame11335017-svg {
  left: 43px;
  width: 488;
  bottom: 31px;
  height: 478;
  position: absolute;
}
.frame11335017-illustration336415 {
  top: 14px;
  left: 303px;
  width: 927px;
  height: 632.0001831054688px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.frame11335017-svg1 {
  top: 515.0001831054688px;
  left: 389px;
  width: 14;
  height: 14;
  position: absolute;
}
.frame11335017-svg2 {
  top: 150px;
  left: 473px;
  width: 24;
  height: 24;
  position: absolute;
}
.frame11335017-svg3 {
  top: 578px;
  width: 24;
  height: 24;
  position: absolute;
}
.frame11335017-svg4 {
  top: 508px;
  left: 895px;
  width: 17;
  height: 17;
  position: absolute;
}
.frame11335017-svg5 {
  top: 627.0001831054688px;
  left: 621px;
  width: 5;
  height: 5;
  position: absolute;
}
.frame11335017-image29 {
  top: 0px;
  left: 302.68505859375px;
  width: 625px;
  height: 587px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.frame11335017-quote-template336479 {
  top: 841px;
  left: 167.9999542236328px;
  width: 1028px;
  height: 301px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.frame11335017-image30 {
  top: 48px;
  left: 33px;
  width: 962px;
  height: 205px;
  opacity: 0.40;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  background-color: rgba(248, 244, 249, 1);
}
.frame11335017-svg6 {
  top: 24.079999923706055px;
  left: 24.079999923706055px;
  width: 108;
  height: 93;
  position: absolute;
}
.frame11335017-svg7 {
  right: 9px;
  width: 108;
  bottom: 15px;
  height: 93;
  position: absolute;
}
.frame11335017-text30 {
  top: 93px;
  left: 141px;
  color: rgba(25, 25, 25, 1);
  width: 747px;
  height: auto;
  position: absolute;
  font-size: 25px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Poppins;
  font-weight: 600;
  line-height: 38px;
  font-stretch: normal;
  text-decoration: none;
}
.frame11335017-navbar336500 {
  top: -1.760498046875px;
  left: -0.000030517578125px;
  width: 1364px;
  height: 106.19498443603516px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.frame11335017-image31 {
  top: -3px;
  left: 0px;
  width: 1364px;
  height: 146px;
  position: absolute;
  box-shadow: 0px 5.309749126434326px 26.54874610900879px 0px rgba(0, 0, 0, 0.10000000149011612) ;
  object-fit: cover;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.frame11335017-frame1336502 {
  top: 34.78668212890625px;
  left: 1157.2098388671875px;
  width: 152px;
  display: flex;
  padding: 11.603840827941895px 43.73755645751953px;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: center;
  border-color: transparent;
  border-radius: 8.926031112670898px;
  justify-content: center;
  background-color: rgba(96, 62, 148, 1);
}
.frame11335017-text37 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 16.066856384277344px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Inter;
  font-weight: 700px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame11335017-frame2336504 {
  top: 34.78668212890625px;
  left: 983.0447998046875px;
  width: 152px;
  display: flex;
  padding: 11.603840827941895px 43.73755645751953px;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: center;
  border-color: rgba(96, 62, 148, 1);
  border-style: solid;
  border-width: 0.8926031589508057px;
  border-radius: 8.926031112670898px;
  justify-content: center;
}
.frame11335017-text38 {
  color: rgba(96, 62, 148, 1);
  height: auto;
  font-size: 16.066856384277344px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Inter;
  font-weight: 700px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame11335017-frame3336506 {
  top: 47.77951431274414px;
  left: 475.415283203125px;
  width: 412px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: center;
  border-color: transparent;
  justify-content: center;
}
.frame11335017-text39 {
  color: rgba(16, 24, 40, 1);
  height: auto;
  margin: 0 35.704124450683594px 0 0;
  font-size: 16.066856384277344px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 700px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame11335017-text40 {
  color: rgba(16, 24, 40, 1);
  height: auto;
  margin: 0 35.704124450683594px 0 0;
  font-size: 16.066856384277344px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame11335017-text41 {
  color: rgba(16, 24, 40, 1);
  height: auto;
  margin: 0 35.704124450683594px 0 0;
  font-size: 16.066856384277344px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame11335017-text42 {
  color: rgba(16, 24, 40, 1);
  height: auto;
  font-size: 16.066856384277344px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame11335017-image32 {
  top: 19.612548828125px;
  left: 44.630157470703125px;
  width: 165px;
  height: 74px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.frame11335017-footer336620 {
  top: 2341px;
  left: 0px;
  width: 1364px;
  height: 214.22474670410156px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  background-color: rgba(43, 43, 43, 1);
}
.frame11335017-group1897336621 {
  top: 101.75617218017578px;
  left: 62.482181549072266px;
  width: 378px;
  height: 43px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.frame11335017-group85336622 {
  top: 0px;
  left: 0px;
  width: 378px;
  height: 43px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.frame11335017-text43 {
  top: 0px;
  left: 0px;
  color: rgba(255, 255, 255, 1);
  width: 378px;
  height: auto;
  position: absolute;
  font-size: 12.496444702148438px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 400px;
  line-height: 21.422475814819336px;
  font-stretch: normal;
  text-decoration: none;
}
.frame11335017-facebook336624 {
  top: 164.23883056640625px;
  left: 63.374820709228516px;
  width: 29px;
  height: 28.56330108642578px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.frame11335017-image33 {
  top: 0px;
  left: 0px;
  width: 29px;
  height: 29px;
  position: absolute;
  object-fit: cover;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 0.8926031589508057px;
}
.frame11335017-facebok336626 {
  top: 3.57064151763916px;
  left: 3.570401191711426px;
  width: 21px;
  height: 21.422475814819336px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.frame11335017-image34 {
  top: 0px;
  left: 0px;
  width: 21px;
  height: 21px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.frame11335017-image35 {
  top: 4.463015556335449px;
  left: 7.140824794769287px;
  width: 6px;
  height: 12px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.frame11335017-twetter336630 {
  top: 164.23883056640625px;
  left: 106.21977233886719px;
  width: 29px;
  height: 28.56330108642578px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.frame11335017-image36 {
  top: 3.57047700881958px;
  left: 3.57039737701416px;
  width: 21px;
  height: 21px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.frame11335017-image37 {
  top: 0px;
  left: 0px;
  width: 29px;
  height: 29px;
  position: absolute;
  object-fit: cover;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 0.8926031589508057px;
}
.frame11335017-image38 {
  top: 8.033493041992188px;
  left: 6.248260974884033px;
  width: 16px;
  height: 12px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.frame11335017-linkedin336635 {
  top: 164.23883056640625px;
  left: 149.06472778320312px;
  width: 29px;
  height: 28.56330108642578px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.frame11335017-image39 {
  top: 3.57047700881958px;
  left: 3.5704379081726074px;
  width: 21px;
  height: 21px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.frame11335017-image40 {
  top: 0px;
  left: 0px;
  width: 29px;
  height: 29px;
  position: absolute;
  object-fit: cover;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 0.8926031589508057px;
}
.frame11335017-image41 {
  top: 7.140889644622803px;
  left: 7.14085054397583px;
  width: 14px;
  height: 13px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.frame11335017-instagram336640 {
  top: 164.23883056640625px;
  left: 191.90966796875px;
  width: 29px;
  height: 28.56330108642578px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.frame11335017-image42 {
  top: 3.57047700881958px;
  left: 3.5704174041748047px;
  width: 21px;
  height: 21px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.frame11335017-image43 {
  top: 0px;
  left: 0px;
  width: 29px;
  height: 29px;
  position: absolute;
  object-fit: cover;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 0.8926031589508057px;
}
.frame11335017-image44 {
  top: 6.248286724090576px;
  left: 7.140830039978027px;
  width: 14px;
  height: 16px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.frame11335017-group1899336645 {
  top: 38.38179397583008px;
  left: 1010.4267578125px;
  width: 50px;
  height: 150.21261596679688px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.frame11335017-text47 {
  top: 0px;
  left: 0px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 16.066856384277344px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 700px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame11335017-text48 {
  top: 74.08601379394531px;
  left: -0.000015280495063052513px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 12.496444702148438px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame11335017-text49 {
  top: 102.6493148803711px;
  left: -0.000015280495063052513px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 12.496444702148438px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame11335017-text50 {
  top: 131.21261596679688px;
  left: -0.000015280495063052513px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 12.496444702148438px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame11335017-text51 {
  top: 45.5227165222168px;
  left: -0.000015280495063052513px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 12.496444702148438px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame11335017-group1900336651 {
  top: 38.38179397583008px;
  left: 1127.3577880859375px;
  width: 138px;
  height: 64.52272033691406px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.frame11335017-text52 {
  top: 0px;
  left: 0px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 16.066856384277344px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 700px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame11335017-text53 {
  top: 45.5227165222168px;
  left: -0.00003559660763130523px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 12.496444702148438px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame11335017-image45 {
  top: 26.777952194213867px;
  left: 60.69701385498047px;
  width: 131px;
  height: 59px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
